# Build toolsets
# ==============

# rebar

.rebar/
rebar

# vagrant

.vagrant/

# IDE

.idea/
pwb.iml
TAGS

# Build artifacts
# ===============

.eunit/
doc/
ebin/
deps/
*.plt
.global_plt.*
erlking

# Temporary files
# ===============

log/
erl_crash.dump
*~
#*#
